<div>
    Login : <br/>
    <form name="authentification" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">

        Name :     <br/><input type="text" ng-model="form.name">    <br/><br/>
        Password: <br/><input type="text" ng-model="form.password"> <br/><br/>
        <input type="submit" ng-click="Submit">
        <input type="submit" ng-click="Register" value="Register">
    </form><br/>
</div>
    <!--<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
</div>
    
    
    <div>
    Login : <br/>
    <form name="authentification" action="#" ng-controller="FormCtrl" ng-submit="submitForm()">

        Name :     <br/><input type="text" ng-model="form.name">    <br/><br/>
        Password: <br/><input type="text" ng-model="form.password"> <br/><br/>
        <input type="submit" ng-click="Submit">
        <input type="submit" ng-click="Register" value="Register">
    </form><br/>
</div>